/* Teamtreehouse Unit 3 Project: Online Registration Form */

@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

body{
    font-family:'Livvic', sans-serif;
    text-align: center;
    display:flex;
    flex-direction:column;
}

.input-header{
    text-align: left;
}

.copyright{
    font-style: italic;
}
html, body, header, footer, h1{
  margin: 0 auto;
}

h1, .copyright{
  padding: 10px 0px 10px 0px;
}

legend, .signup-msg > div{
  font-weight: bolder;
  font-size: 28px;
  padding-top:15px;
  padding-bottom:15px;
}

.signup-msg{
  background: #f4f7f8;
  margin: 0 auto;
}

legend{
  text-align: left;
  border-top:3px;
  border-color: black;
}

form:first-child{
  float: left;
}

input[id="name"]::placeholder, input[id="email"]::placeholder{
  content: "Required";
  text-align: right;
  font-style: italic;
  padding-right:10px;
}

header{
  background:#000080;
  width: 100vw;
  color:white;
  margin: 0 auto;
  flex:1;
}


form {
  max-width: 384px;
  margin: auto;
  padding: 10px 20px;
  background: #f4f7f8;
}

fieldset{
  border:0;
}

fieldset:first-of-type > input,
textarea{
  line-height:50px;
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  outline: 0;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

fieldset:first-of-type > label, fieldset:nth-of-type(2) > input{
  float:left;
}

input[type="checkbox"] > label, input[type="radio"] > label{
  float:left;
}

button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }

footer, .signup-msg{
  padding: 15px;
  margin:10px;
}


@media screen and (min-width:768px){

}